<div class="bg-img">
    <!-- <a class="back-to-top" href="#main" style="display: inline;">Vrh stranice</a> -->
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group" >
                <label for="email">Email address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\email-icon.png" height="40" width="40">
                    </div>
                    <input  formControlName="email"
                            id="email" 
                            #email
                            type="text" 
                            class="form-control"
                            placeholder="email" aria-label="email">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary" 
                                (click) = "email.value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">Email is required.</div>
                    <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\password-icon.png" height="40" width="40">
                    </div>
                    <input  formControlName="password"
                            id="password" 
                            #password
                            type="password" 
                            class="form-control"
                            placeholder="password" aria-label="password">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary" 
                                (click) = "password.value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                    <div *ngIf="f.password.errors.minlength">Password should be 3 character.</div>
                </div>
            </div>
        
            <button class="btn btn-primary" 
                    type="submit" 
                    [disabled]="!form.valid"
                    data-toggle="modal"
                    data-target="#exampleModal">Submit</button>
            <button type="button" class="btn btn-primary" 
                    style="float: right;" routerLink="/sign-in">Registration</button>
        </form>
        <br/>
        <div class="kw-dvp-HorizonalButton">
            <span>or</span>
        </div>
        <br/>
        <div class="text-center">
            <label >Login  with</label>
        </div>
        <div class="row" style="padding: 20px;">
            <div class="col-md-6">
              <a class="btn btn-outline-secondary" 
                 id="customBtn" 
                 style="float: left;" 
                 role="button" 
                 data-toggle="modal"
                 data-target="#exampleModal"
                 (click) = "GoogleLogin()"><!--(click) = "GoogleLogin()"-->
                 <img width="40" 
                     alt="Google sign-in" 
                     src="/assets/img/g-logo.png" />Google
              </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-secondary" 
                    id="fb"  
                    role="button"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click) = "FacebookLogin()"
                    style="float: right;">
                    <img width="40"  
                         alt="Facebook sign-in" 
                         src="/assets/img/f-logo.png"/>Facebook
                </a><!--data-toggle="modal" data-target="#exampleModal"  (click) = "FacebookLogin()"       (click) = "frame.show()"    (click) = "Otvori()"-->
            </div>
        </div>
    </div>
</div>
<div  class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Molimo unesite kod koji vam je stigao na e-mail adresu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-header">
            <small class="text-muted">Ako ste vec aktivirani samo zatvorite prozor.</small>
        </div>
        <div class="modal-body">
            <br>
            <form [formGroup]="activateUserForm" (ngSubmit)="activateUserSubmit()">
                <div>
                    <input name="activateUser" 
                           id="activateUserId" 
                           type="text" 
                           placeholder="example='1561389'"
                           formControlName="activateUser">
                    <br>
                    <p *ngIf="activatedUser">Uspesno ste aktivirali korisnika.</p>
                    <p *ngIf="!activatedUser">Korisnik nije aktiviran.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="activatedUser" class="btn btn-primary">Check</button>
                    <button type="button" [disabled]="!activatedUser" class="btn btn-secondary" (click)="Zatvori()" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>