<nav class="navbar navbar-expand-sm navbar-light navbar-default">
    <a class="navbar-brand" routerLink="/home">MAANPP-20</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/flights">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rent-a-car">Rent a car</a>
        </li>
      </ul>
      <div class="ml-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/log-in">Login</a>
            </li>
        </ul>
      </div>
    </div>
</nav>