<!-- THIS COMPONENT IS USED FOR CREATING OR CHANGING FLIGHTS -->
<div class="container down"
        *ngIf='!this.authenticationService.currentUserValue'> <!-- AKO NIJE NIKO ULOGOVAN -->
    <div class="alert alert-danger" role="alert"> 
        <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
    </div>
    <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
</div>
<div class="container down"
        *ngIf='this.authenticationService.currentUserValue'> <!-- AKO JE ULOGOVAN A NEMA DOZVOLU-->
    <div *ngIf="currentUser.role != 1 && currentUser.role != 2">
        <div class="alert alert-danger" role="alert">
            <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
        </div>
        <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
    </div>
</div>

<div *ngIf='this.authenticationService.currentUserValue' class="down">
    <div class="container" *ngIf="currentUser.role === 1 || currentUser.role === 2">
        <div class="alert alert-danger" role="alert" *ngIf="error">
            <b>{{errorText}}</b>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="success">
            <b>{{successText}}</b>
        </div>

        <div class="alert alert-warning" role="alert">
            <b>All fields are required!</b>
        </div>
        <img src={{logo}} class="centerSTOPimg" alt="" style="width: 300px;"> 
        
        <form [formGroup]="form" (ngSubmit)="submit()">
            
            <div *ngIf="!oneCompany">
                <div class="form-group">
                    <label for="company">Company</label>
                    <div class="input-group mb-3 border border-secondary rounded">
                        <select id="company" #company formControlName="company" class="form-control" (change)="onChange($event.target.value)">
                            <option value="{{company.id}}" *ngFor="let company of allAvioCompanies">
                                {{company.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="f.company.touched && f.company.invalid" class="alert alert-danger">
                        <div *ngIf="f.company.errors.required">Company name is required.</div>
                    </div>
                </div>
            </div>
            
            <div *ngIf="oneCompany">
                <div class="form-group" >
                    <label >Company</label>
                    <div class="input-group mb-3 border border-secondary rounded">
                        <input type="text" id="oneComapny" class="form-control" value="{{oneCompanyName}}" readonly>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="company">Destination</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <select id="destinations" #destinations formControlName="destinations" class="form-control" (change)="onChangeFD($event.target.value)">
                        <option value="{{destination.id}}" *ngFor="let destination of fdofc">
                            {{ destination.startAddress.city }}, {{ destination.startAddress.country }}
                             ->  
                             {{ destination.endAddress.city }}, {{ destination.endAddress.country }}
                        </option>
                    </select>
                </div>
                <div *ngIf="f.destinations.touched && f.destinations.invalid" class="alert alert-danger">
                    <div *ngIf="f.destinations.errors.required">Detinations is required.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="dateFrom">Flight date</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="datetime-local" id="dateFrom" #dateFrom formControlName="dateFrom" class="form-control">
                </div>
            </div>

            <div class="form-group" >
                <label for="dateTo">Landing date</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="datetime-local" id="dateTo" #dateTo formControlName="dateTo" class="form-control">
                </div>
            </div>

            <div class="form-group" >
                <label for="price">Price</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="price" #price min="0" 
                            formControlName="price" class="form-control" placeholder="price">
                </div>
                <div *ngIf="f.price.touched && f.price.invalid" class="alert alert-danger">
                    <div *ngIf="f.price.errors.required">Price is required.</div>
                    <div *ngIf="f.price.errors.min">Min value of price is 1.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="pricetw">Price two way</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="pricetw" #pricetw min="0" 
                            formControlName="pricetw" class="form-control" placeholder="price two way">
                </div>
                <div *ngIf="f.pricetw.touched && f.pricetw.invalid" class="alert alert-danger">
                    <div *ngIf="f.pricetw.errors.required">Price is required.</div>
                    <div *ngIf="f.pricetw.errors.min">Min value of price is 1.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="vremePutovanja">Travel time</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="vremePutovanjahh" #vremePutovanjahh min="0" onkeydown="return false"
                            formControlName="vremePutovanjahh" max="99"
                            class="form-control mr-1" placeholder="hours">
                            <b>:</b> 
                    <input type="number" id="vremePutovanjamm" #vremePutovanjamm min="0" onkeydown="return false"
                            formControlName="vremePutovanjamm" max="59"
                            class="form-control mr-1 ml-1" placeholder="minutes">
                            <b>:</b>
                    <input type="number" id="vremePutovanjass" #vremePutovanjass min="0" onkeydown="return false"
                            formControlName="vremePutovanjass" max="59"
                            class="form-control ml-1" placeholder="seconds">
                </div>
                <div *ngIf="f.vremePutovanjahh.touched && f.vremePutovanjahh.invalid" class="alert alert-danger">
                    <div *ngIf="f.vremePutovanjahh.errors.required">Travel time is required.</div>
                </div>
                <div *ngIf="f.vremePutovanjamm.touched && f.vremePutovanjamm.invalid" class="alert alert-danger">
                    <div *ngIf="f.vremePutovanjamm.errors.required">Travel time is required.</div>
                </div>
                <div *ngIf="f.vremePutovanjass.touched && f.vremePutovanjass.invalid" class="alert alert-danger">
                    <div *ngIf="f.vremePutovanjass.errors.required">Travel time is required.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="duzinaPutovanja">Flight distance</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="duzinaPutovanja" #duzinaPutovanja min="1"
                            formControlName="duzinaPutovanja" class="form-control" placeholder="flight distance">
                </div>
                <div *ngIf="f.duzinaPutovanja.touched && f.duzinaPutovanja.invalid" class="alert alert-danger">
                    <div *ngIf="f.duzinaPutovanja.errors.required">Distance is required.</div>
                    <div *ngIf="f.duzinaPutovanja.errors.min">Min value of distance is 1.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="price">Changeover</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="presedanjeCnt" #presedanjeCnt min="0" max="5" (change)="onKey($event)"
                            formControlName="presedanjeCnt" class="form-control" placeholder="number" onkeydown="return false">
                </div>
                <div *ngIf="f.presedanjeCnt.touched && f.presedanjeCnt.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanjeCnt.errors.required">Changeover is required.</div>
                    <div *ngIf="f.presedanjeCnt.errors.min">Min value of changeover is 0.</div>
                    <div *ngIf="f.presedanjeCnt.errors.max">Max value of changeover is 5.</div>
                </div>
            </div>

            <!-- *stavio krerirao sam ovako namerno 5 fiksiranih, jer to je po mom misljenju max mogucih presedanja
                 *ali, naravno, ne kazem da postoji mozda i vise -->

            <div class="form-group" *ngIf="show1">
                <label for="presedanje1">Changeover city one</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="text" id="presedanje1" #presedanje1 formControlName="presedanje1" class="form-control" placeholder="city">
                </div>
                <div *ngIf="f.presedanje1.touched && f.presedanje1.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanje1.errors.required">City is required.</div>
                </div>
            </div>

            <div class="form-group" *ngIf="show2">
                <label for="presedanje2">Changeover city two</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="text" id="presedanje2" #presedanje2 formControlName="presedanje2" class="form-control" placeholder="city">
                </div>
                <div *ngIf="f.presedanje2.touched && f.presedanje2.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanje2.errors.required">City is required.</div>
                </div>
            </div>

            <div class="form-group" *ngIf="show3">
                <label for="presedanje3">Changeover city three</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="text" id="presedanje3" #presedanje3 formControlName="presedanje3" class="form-control" placeholder="city">
                </div>
                <div *ngIf="f.presedanje3.touched && f.presedanje3.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanje3.errors.required">City is required.</div>
                </div>
            </div>

            <div class="form-group" *ngIf="show4">
                <label for="presedanje4">Changeover city four</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="text" id="presedanje4" #presedanje4 formControlName="presedanje4" class="form-control" placeholder="city">
                </div>
                <div *ngIf="f.presedanje4.touched && f.presedanje4.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanje4.errors.required">City is required.</div>
                </div>
            </div>

            <div class="form-group" *ngIf="show5">
                <label for="presedanje5">Changeover city five</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="text" id="presedanje5" #presedanje5 formControlName="presedanje5" class="form-control" placeholder="city">
                </div>
                <div *ngIf="f.presedanje5.touched && f.presedanje5.invalid" class="alert alert-danger">
                    <div *ngIf="f.presedanje5.errors.required">City is required.</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="destImg">Destination image</label>
                <div class="input-group mb-3">
                    <div class="border border-secondary rounded" id="btnImage">
                        <label style="position: absolute;">{{ imgName }}</label>
                        <input type="file" accept="image/*" id="destImg" (change)="onImg($event)"
                                #destImg formControlName="destImg" class="form-control">
                    </div>
                </div>
                <div *ngIf="f.destImg.touched && f.destImg.invalid" class="alert alert-danger">
                    <div *ngIf="f.destImg.errors.required">Destination image is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="plane">Aeroplane</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <select id="plane" #plane formControlName="plane" class="form-control" (change)="onChangePlane($event.target.value)">
                        <option value="{{plane.id}}" *ngFor="let plane of allAeroplanes">
                            {{plane.name}} [{{plane.numSeats}}]
                        </option>
                    </select>
                </div>
                <div *ngIf="f.plane.touched && f.plane.invalid" class="alert alert-danger">
                    <div *ngIf="f.plane.errors.required">Aeroplane name is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="promotionalDesc">Luggage price</label>
                <div class="ml-2">
                    <div class="form-group">
                        <label for="priceCarryOn">Carry-On</label>
                        <div class="input-group mb-3 border border-secondary rounded">
                            <input type="number" id="priceCarryOn" #priceCarryOn min="0" formControlName="priceCarryOn" class="form-control">
                        </div>
                        <div *ngIf="f.priceCarryOn.touched && f.priceCarryOn.invalid" class="alert alert-danger">
                            <div *ngIf="f.priceCarryOn.errors.required">Carry-On price is required.</div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="pricePersonalBag">Personal Bag</label>
                        <div class="input-group mb-3 border border-secondary rounded">
                            <input type="number" id="pricePersonalBag" #pricePersonalBag min="0" formControlName="pricePersonalBag" class="form-control">
                        </div>
                        <div *ngIf="f.pricePersonalBag.touched && f.pricePersonalBag.invalid" class="alert alert-danger">
                            <div *ngIf="f.pricePersonalBag.errors.required">Personal Bag price is required.</div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="priceFullSizeSpinner">Full-Size-Spinner</label>
                        <div class="input-group mb-3 border border-secondary rounded">
                            <input type="number" id="priceFullSizeSpinner" #priceFullSizeSpinner min="0" formControlName="priceFullSizeSpinner" class="form-control">
                        </div>
                        <div *ngIf="f.priceFullSizeSpinner.touched && f.priceFullSizeSpinner.invalid" class="alert alert-danger">
                            <div *ngIf="f.priceFullSizeSpinner.errors.required">Full-Size-Spinner is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="priceLargeDuffel">Large-Duffel</label>
                        <div class="input-group mb-3 border border-secondary rounded">
                            <input type="number" id="priceLargeDuffel" #priceLargeDuffel min="0" formControlName="priceLargeDuffel" class="form-control">
                        </div>
                        <div *ngIf="f.priceLargeDuffel.touched && f.priceLargeDuffel.invalid" class="alert alert-danger">
                            <div *ngIf="f.priceLargeDuffel.errors.required">Large-Duffel is required.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="numOfFastReseravtions">Number of seats for fast reservations</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="numOfFastReseravtionsid" #numOfFastReseravtionsid 
                            min="0" (input)="onChangeAddFRF($event.target.value)" max={{numOfChosenPlaneSeats}}
                            formControlName="numOfFastReseravtions" class="form-control"
                            onkeydown="return false">
                </div>
                <div class="form-group ml-2" *ngFor="let i of createRange(numOfFastReseravtions)">
                    <div class="alert alert-warning" role="alert">
                        <b>PRESS ENTER TO SAVE ID!</b>
                    </div>
                    <label for="seatid">Enter seat id</label>
                    <div class="input-group mb-3 border border-secondary rounded">
                        <input type="number" id="d{{i}}"class="form-control" min="1"
                                placeholder="enter id" (keyup)="onKeySid($event)"
                                onkeydown="return false" max={{numOfChosenPlaneSeats}}>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="discountForFastReservation">Discount for fast reservation</label>
                <div class="input-group mb-3 border border-secondary rounded">
                    <input type="number" id="discountForFastReservation" #discountForFastReservation min="0" formControlName="discountForFastReservation" class="form-control">
                </div>
            </div>
        
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
</div>