.centerSTOPimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#btnImage{
  cursor: auto;
  width: 100% ;
}
#destImg{
  cursor: pointer;
  opacity: 0; 
  position: relative; 
  width: 100%;
  height: auto;
}