<div class="container down"
        *ngIf='!this.authenticationService.currentUserValue'> <!-- AKO NIJE NIKO ULOGOVAN -->
    <div class="alert alert-danger" role="alert"> 
        <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
    </div>
    <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
</div>

<app-my-spinner *ngIf="loading"></app-my-spinner>

<div class="container down" *ngIf='this.authenticationService.currentUserValue && !loading'>
    <div class="alert alert-danger" role="alert" *ngIf="error && !loading">
        <b>{{errorText}}</b>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success && !loading">
        <b>{{successText}}</b>
    </div>
    
    <!-- <div class="alert alert-success" role="alert" *ngIf="success && !loading">
        <b>{{successText}} created!</b>
    </div> -->
    <div class="card"><!--<*ngIf="!error && !loading"> -->
        <div class="media-body">
            
            <h3 class="mt-0" >{{flight.company}}
                <img src={{flight.logo}} class="mr-4" alt="" width="35px">
            </h3>

            <div class="container">
                <label for="from">From</label>
                <p class="ml-3" id="from">{{ flight.from.city }}, {{ flight.from.country }}</p> 
            </div>
            
            <div class="container">
                <label for="datumPolaska">Date</label>
                <p class="ml-3" id="datumPolaska">{{flight.datumPolaska}}</p> 
            </div>

            <div class="container">
                <label for="to">To</label>
                <p class="ml-3" id="to">{{ flight.to.city }}, {{ flight.to.country }}</p>
            </div>

            <div class="container">
                <label for="datumSletanja">Date</label>
                <p class="ml-3" id="datumSletanja">{{flight.datumSletanja}}</p> 
            </div>

            <div class="container">
                <label for="vremePutovanja">Travel time</label>
                <p class="ml-3" id="vremePutovanja">{{flight.vremePutovanja}}</p>
            </div>

            <div class="container">
                <label for="duzinaPutovanja">Travel distance</label>
                <p class="ml-3" id="duzinaPutovanja">{{flight.duzinaPutovanja}}</p>
            </div>

            <div class="container">
                <label for="presedanje" data-toggle="collapse" href="#collapseChangeover"
                        style="cursor: pointer;">
                    Changeover({{flight.presedanje.brojPresedanja}})
                </label>
                <p class="ml-3" id="presedanje"  class="container collapse" id="collapseChangeover"
                    *ngFor="let presedanje of flight.presedanje.gradoviPresedanja">{{presedanje.plainString}}</p>
            </div>

            <div class="container" *ngIf="currentUser.bonus>0">
                <div class="input-group mb-3">
                    <label for="sn">Add my bonus</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Add discount (user bonus)"
                                    (change)="checkCheckBoxvalue($event)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <label for="price">Price <span title="original price">{{flight.prise}}</span> with discount of {{flight.discountForFastReservation}}%</label>
                <p class="ml-3" id="price">{{discountPrice}}</p>
            </div>

            <div class="container">
                <label for="sn">Seat numeration</label>
                <p class="ml-3" id="sn">{{firstAwaibleSeat}}</p>
            </div>

            <div class="container">
                <label for="aeroplane">Aeroplane</label>
                <p class="ml-3" id="aeroplane">{{flight.aeroplane.name}}</p>
            </div>

            <div class="container" *ngIf="!success">
                <button type="button" class="btn btn-success" (click)="reserveFastFlight()">
                    BOOK FLIGHT
                </button>
            </div>
        </div>
    </div>
</div>
