<!-- 1/4 ekrana-->
<div class="w-25 p-3 down" style="background-color: whitesmoke; float: left;">
    <div *ngFor="let fr of friends" class="container rounded border border-secondary mb-1 mt-1"
            (click)="loadChat(fr.id)" style="cursor: pointer;">
        <h1>
            <img src={{fr.profileImage}} width="60px" alt="">
            <span>
                {{fr.firstName}} {{fr.lastName}}
            </span>
        </h1>
        <br/>
    </div>
</div>

<!-- 3/4 ekrana-->
<div class="w-75 p-3 down" style="float: right;" *ngIf="showChat">
    <div class="border border-secondary mb-1 mt-1 pb-3" style="overflow: scroll; height: 500px;"
             #scrollMe>
    
        <div *ngFor="let mess of messages">
            <p style="font-size: x-large; max-width: 60px">
                <span> <!-- ostaje da se sredi kad su duze poruke-->
                    <b class="badge badge-pill badge-primary" 
                    data-toggle="tooltip" data-placement="right" title="{{mess.dateTime}}">
                        {{mess.text}}
                    </b>
                </span>
            </p>
            <hr/>
        </div>
        
        <div >
            <form [formGroup]="formChat" (ngSubmit)="chatWithFriend(usersChar.id)">
                <div class="form-group">
                <input type="text" class="form-control" id="chatText" formControlName="chatText"  #chatText 
                        aria-describedby="chatTextHelp" style="width: 90%; float: left;" placeholder="text...">
                <button type="submit" class="btn btn-primary" (click) = "chatText.value = ''" style="float: right;">
                    Send
                </button>
                </div>
            </form>
        </div>
        <br/>
    </div>
</div>