<div class="container down"
        *ngIf='!this.authenticationService.currentUserValue'> <!-- AKO NIJE NIKO ULOGOVAN -->
    <div class="alert alert-danger" role="alert"> 
        <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
    </div>
    <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
</div>

<div class="container down" *ngIf='this.authenticationService.currentUserValue'>
    <app-my-spinner *ngIf="loading"></app-my-spinner>

    <div class="alert alert-danger" role="alert" *ngIf="errorPagination && !loading">
        <b>{{errorText}}</b>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error && !loading">
        <b>{{errorText}}</b>
    </div>
    
    <div class="alert alert-success" role="alert" *ngIf="success && !loading">
        <b>{{successText}} created!</b>
    </div>
    <div *ngIf="!loading && !error">

        <nav aria-label="Page navigation example" *ngIf="paginationNum != 4">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" style="cursor: pointer;" (click)="previousView()"
                        data-toggle="tooltip" data-placement="bottom" 
                        title="{{prev}}">
                        {{prev}}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="cursor: pointer;" (click)="nextView()"
                        data-toggle="tooltip" data-placement="bottom" 
                        title="{{next}}">
                        {{next}}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="card mb-3">
            <div class="media-body" *ngIf="paginationNum === 0">
                <img src={{flight.destImg}} style="width: 100%;" class="mr-4" alt="">
                
                <h4>Flight rate</h4>
                <div class="profile-stars">
                    <!-- START NO 1-->
                    <div *ngIf="ocena < 0.5; then thenBlock1 else elseBlock1"></div>
                    <ng-template #thenBlock1><img src="\assets\img\blank-star.png" style="width: 30px; height: 30px;"/></ng-template>
                    <ng-template #elseBlock1>
                        <div *ngIf="ocena < 1; then thenBlock11 else elseBlock11"></div>
                        <ng-template #thenBlock11><img src="\assets\img\half-star.png" style="width: 30px; height: 30px;"/></ng-template>
                        <ng-template #elseBlock11><img src="\assets\img\star.png" style="width: 30px; height: 30px;"/></ng-template>
                    </ng-template>
                    <!-- START NO 2-->
                    <div *ngIf="ocena < 1.5; then thenBlock2 else elseBlock2"></div>
                    <ng-template #thenBlock2><img src="\assets\img\blank-star.png" style="width: 30px; height: 30px;"/></ng-template>
                    <ng-template #elseBlock2>
                        <div *ngIf="ocena < 2; then thenBlock22 else elseBlock22"></div>
                        <ng-template #thenBlock22><img src="\assets\img\half-star.png" style="width: 30px; height: 30px;"/></ng-template>
                        <ng-template #elseBlock22><img src="\assets\img\star.png" style="width: 30px; height: 30px;"/></ng-template>
                    </ng-template>
                    <!-- START NO 3-->
                    <div *ngIf="ocena < 2.5; then thenBlock3 else elseBlock3"></div>
                    <ng-template #thenBlock3><img src="\assets\img\blank-star.png" style="width: 30px; height: 30px;"/></ng-template>
                    <ng-template #elseBlock3>
                        <div *ngIf="ocena < 3; then thenBlock33 else elseBlock33"></div>
                        <ng-template #thenBlock33><img src="\assets\img\half-star.png" style="width: 30px; height: 30px;"/></ng-template>
                        <ng-template #elseBlock33><img src="\assets\img\star.png" style="width: 30px; height: 30px;"/></ng-template>
                    </ng-template>
                    <!-- START NO 4-->
                    <div *ngIf="ocena < 3.5; then thenBlock4 else elseBlock4"></div>
                    <ng-template #thenBlock4><img src="\assets\img\blank-star.png" style="width: 30px; height: 30px;"/></ng-template>
                    <ng-template #elseBlock4>
                        <div *ngIf="ocena < 4; then thenBlock44 else elseBlock44"></div>
                        <ng-template #thenBlock44><img src="\assets\img\half-star.png" style="width: 30px; height: 30px;"/></ng-template>
                        <ng-template #elseBlock44><img src="\assets\img\star.png" style="width: 30px; height: 30px;"/></ng-template>
                    </ng-template>
                    <!-- START NO 5-->
                    <div *ngIf="ocena < 4.5; then thenBlock5 else elseBlock5"></div>
                    <ng-template #thenBlock5><img src="\assets\img\blank-star.png" style="width: 30px; height: 30px;"/></ng-template>
                    <ng-template #elseBlock5>
                        <div *ngIf="ocena < 5; then thenBlock55 else elseBlock55"></div>
                        <ng-template #thenBlock55><img src="\assets\img\half-star.png" style="width: 30px; height: 30px;"/></ng-template>
                        <ng-template #elseBlock55><img src="\assets\img\star.png" style="width: 30px; height: 30px;"/></ng-template>
                    </ng-template>
                </div>

                <h3 class="mt-0" >{{flight.company}}
                    <img src={{flight.logo}} class="mr-4" alt="" width="35px">
                </h3>

                <div class="container">
                    <label for="from">From</label>
                    <p class="ml-3" id="from">{{flight.from.city}}, {{flight.from.country}}</p> 
                </div>
                
                <div class="container">
                    <label for="datumPolaska">Date</label>
                    <p class="ml-3" id="datumPolaska">{{flight.datumPolaska}}</p> 
                </div>

                <div class="container">
                    <label for="to">To</label>
                    <p class="ml-3" id="to">{{flight.to.city}}, {{flight.to.country}}</p>
                </div>

                <div class="container">
                    <label for="datumSletanja">Date</label>
                    <p class="ml-3" id="datumSletanja">{{flight.datumSletanja}}</p> 
                </div>

                <div class="container">
                    <label for="vremePutovanja">Travel time</label>
                    <p class="ml-3" id="vremePutovanja">{{flight.vremePutovanja}}</p>
                </div>

                <div class="container">
                    <label for="duzinaPutovanja">Travel distance</label>
                    <p class="ml-3" id="duzinaPutovanja">{{flight.duzinaPutovanja}}</p>
                </div>

                <div class="container">
                    <label for="presedanje" data-toggle="collapse" href="#collapseChangeover"
                            style="cursor: pointer;">
                        Changeover({{flight.presedanje.brojPresedanja}})
                    </label>
                    <p class="ml-3" id="presedanje"  class="container collapse" id="collapseChangeover"
                        *ngFor="let presedanje of flight.presedanje.gradoviPresedanja">{{presedanje.plainString}}</p>
                </div>

                <div class="container" *ngIf="currentUser.bonus>0">
                    <div class="input-group mb-3">
                        <label for="sn">Add my bonus</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Add discount (user bonus)"
                                        (change)="checkCheckBoxvalue($event)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <label for="exampleFormControlSelect1">Ticket type</label>
                    <div>
                        <select class="form-control ml-3" [(ngModel)]="selectedTicket" >
                            <option value=1 selected> One way - ${{priceOneWayForFlight}}</option>
                            <option value=2> Two way - ${{priceTwoWayForFlight}}</option>
                        </select>
                    </div>
                </div>

                <div class="container">
                    <label for="aeroplane">Aeroplane</label>
                    <p class="ml-3" id="aeroplane">{{flight.aeroplane.name}}</p>
                </div>
            </div>

            <div class="media-body" *ngIf="paginationNum === 1">
                <div class="container" width="30px" >
                    <app-plane-seats (click)="getActivatedSeat()"></app-plane-seats>
                </div>

                <div class="container mt-5" style="float: left;">
                    <span *ngIf='sumPrice>0'>
                        Sum: <b>${{sumPrice}}</b>
                    </span>
                </div>
            </div>

            <div class="media-body" *ngIf="paginationNum === 2">
                <div class="container" *ngIf='seatsNumber>1' style="display: inline;">
                    <div class="alert alert-warning" role="alert">
                        After entering data for each friend, <b>submit</b> his data by clicking on button SUBMIT Friend!
                        <br/><u>Data will be lost for every unsubmitet frind!</u>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        Enter data for <b>{{seatsNumber-1}}</b> friends!
                    </div>
                    <div class="border border-secondary pb-1 pl-1 pr-1">
                        <label>Call Friends</label>
                        <app-flight-call-friends></app-flight-call-friends>
                    </div>
                </div>
            </div>

            <div class="media-body" *ngIf="paginationNum === 3">

                <div class="container">
                    <label>Carry-On(${{flight.luggage.priceCarryOn}})</label>
                    <input type="number" class="form-control" min="1" onkeydown="return false" [(ngModel)]="carryOn" (change)="luggageF()">
                </div>

                <div class="container">
                    <label>Personal Bag(${{flight.luggage.pricePersonalBag}})</label>
                    <input type="number" class="form-control" min="1" onkeydown="return false" [(ngModel)]="personalBag" (change)="luggageF()">
                </div>

                <div class="container">
                    <label>Full-Size Spinner(${{flight.luggage.priceFullSizeSpinner}})</label>
                    <input type="number" class="form-control" min="1" onkeydown="return false" [(ngModel)]="fullSizeSpiner" (change)="luggageF()">
                </div>

                <div class="container">
                    <label>Large Duffel(${{flight.luggage.priceLargeDuffel}})</label>
                    <input type="number" class="form-control" min="1" onkeydown="return false" [(ngModel)]="largeDuffel" (change)="luggageF()">
                </div>

                <div class="container">
                    <label>Number of reserved seats</label>
                    <p class="ml-3"><b>{{seatsNumber}}</b></p> 
                    <p>
                        Seats numerations: 
                        <b>
                            <span *ngFor="let seatId of selectedSeats"> 
                                {{seatId}} 
                            </span>
                        </b>
                    </p>
                </div>

                <div class="container">
                    <label>Sum price</label>
                    <p class="ml-3"><b><span title="ticket sum">${{sumPrice}}</span> + <span  title="luggage sum">${{sumLuggagePrice}}</span> = <span  title="total sum">${{sumPrice + sumLuggagePrice}}</span></b></p> 
                </div>

                <div class="container mt-5" style="float: left;">
                    <button type="button" class="btn btn-success" (click)="bookFlight()">BOOK FLIGHT</button>
                </div>
            </div>

            <div class="" *ngIf="paginationNum === 4">
                <h1>WOULD YOU LIKE TO RENT A CAR SERVICE WITH YOUR FLIGHT?</h1>
                <button type="button" class="btn btn-success btn-lg btn-block mb-3"
                        (click)="setRentACat()">
                    YES
                </button>
                <button type="button" class="btn btn-danger btn-lg btn-block mt-3"
                        (click)="dontSetRentACat()">
                    NO
                </button>
                <button type="button" class="btn btn-secondary btn-lg btn-block mt-3"
                        (click)="cancelReservationi()">
                    CANCEL
                </button>
            </div>
        </div>
    </div>
</div>
