<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="previousView()"
                    data-toggle="tooltip" data-placement="bottom" 
                    title="Tooltip on bottom">
                    {{prev}}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="nextView()"
                    data-toggle="tooltip" data-placement="bottom" 
                    title="Choose seats">
                    {{next}}
                </a>
            </li>
        </ul>
    </nav>
    <div class="card">
        <!--img src={{flight.destImg}} class="mr-4" alt=""-->
        <div class="media-body" *ngIf="paginationNum === 0">
            
            <h3 class="mt-0" >{{flight.company}}
                <img src={{flight.logo}} class="mr-4" alt="" width="35px">
            </h3>

            <div class="container">
                <label for="from">From</label>
                <p class="ml-3" id="from">{{flight.from}}</p> 
            </div>
            
            <div class="container">
                <label for="datumPolaska">Date</label>
                <p class="ml-3" id="datumPolaska">{{flight.datumPolaska}}</p> 
            </div>

            <div class="container">
                <label for="to">To</label>
                <p class="ml-3" id="to">{{flight.to}}</p>
            </div>

            <div class="container">
                <label for="datumSletanja">Date</label>
                <p class="ml-3" id="datumSletanja">{{flight.datumSletanja}}</p> 
            </div>

            <div class="container">
                <label for="vremePutovanja">Travel time</label>
                <p class="ml-3" id="vremePutovanja">{{flight.vremePutovanja}}</p>
            </div>

            <div class="container">
                <label for="duzinaPutovanja">Travel distance</label>
                <p class="ml-3" id="duzinaPutovanja">{{flight.duzinaPutovanja}}</p>
            </div>

            <div class="container">
                <label for="presedanje" data-toggle="collapse" href="#collapseChangeover"
                        style="cursor: pointer;">
                    Changeover({{flight.presedanje.brojPresedanja}})
                </label>
                <p class="ml-3" id="presedanje"  class="container collapse" id="collapseChangeover"
                    *ngFor="let presedanje of flight.presedanje.gradoviPresedanja">{{presedanje}}</p>
            </div>

            <div class="container">
                <label for="price">Price</label>
                <p class="ml-3" id="price">{{flight.prise}}</p>
            </div>

            <div class="container">
                <label for="aeroplane">Aeroplane</label>
                <p class="ml-3" id="aeroplane">{{flight.aeroplane.name}}</p>
            </div>
        </div>

        <div class="media-body" *ngIf="paginationNum === 1">
            <div class="container" width="30px" >
                <app-airplane-seats (click)="getActivatedSeat()"></app-airplane-seats>
            </div>

            <div class="container mt-5" style="float: left;">
                <span *ngIf='sumPrice>0'>
                    Sum: <b>${{sumPrice}}</b>
                </span>
            </div>
        </div>

        <div class="media-body" *ngIf="paginationNum === 2">
            <div class="container" *ngIf='seatsNumber>1' style="display: inline;">
                <div class="alert alert-warning" role="alert">
                    After entering data for each friend, <b>submit</b> his data by clicking on button SUBMIT Friend!
                    <br/><u>Data will be lost for every unsubmitet frind!</u>
                </div>
                <div class="border border-secondary pb-1 pl-1 pr-1" 
                    *ngFor="let item of createRange(seatsNumber)">
                    <label>Call Friends {{item}}</label>
                    <app-flight-call-friends ></app-flight-call-friends>
                </div>
            </div>
        </div>

        <div class="media-body" *ngIf="paginationNum === 3">
            RENT A CAR 
            <div class="container mt-5" style="float: left;">
                <button type="button" class="btn btn-info">RENT A CAR</button>
            </div>
        </div>

        <div class="media-body" *ngIf="paginationNum === 4">
            ALL RESERVATION DATA
            <div class="container mt-5" style="float: left;">
                <button type="button" class="btn btn-success">BOOK FLIGHT</button>
            </div>
        </div>
    </div>
</div>
