
<div *ngFor="let i of createRange(numSeats)">
    <div *ngIf="i==4" style="display: inline;"></div>
    <span width="30px" style="float: left;">
        <div *ngIf="flight.aeroplane.allSeats[i].rezervisano ; then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1>
            <!--ovi tipovi imaju id z0, z1... i oni se nece ni citati-->
            <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
                class="rounded-circle"  id=z{{i}} width="30px" alt=""
                style="background-color: red;">
        </ng-template>
        <ng-template #elseBlock1>
            <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
                class="rounded-circle"  id={{i}} width="30px" alt="">
        </ng-template>
    </span>
</div>