<div >
    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle1, 'neutral': toggle1}"
        class="rounded-circle"  id="1" width="30px" alt="">

    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle2, 'neutral': toggle2}"
        class="rounded-circle"  id="2" width="30px" alt="">

    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle3, 'neutral': toggle3}"
        class="rounded-circle"  id="3" width="30px" alt="">

    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle4, 'neutral': toggle4}"
        class="rounded-circle"  id="4" width="30px" alt="">

    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle5, 'neutral': toggle5}"
        class="rounded-circle"  id="5" width="30px" alt="">

    <img src="../assets/img/chair.png" (click)="checkUncheckSeat($event)" 
        [ngClass]="{'green' : !toggle6, 'neutral': toggle6}"
        class="rounded-circle"  id="6" width="30px" alt="">
</div>
    