<div class="container"
        *ngIf='!this.authenticationService.currentUserValue'> <!-- AKO NIJE NIKO ULOGOVAN -->
    <div class="alert alert-danger" role="alert"> 
        <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
    </div>
    <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
</div>
<div class="container"
        *ngIf='this.authenticationService.currentUserValue'> <!-- AKO JE ULOGOVAN A NEMA DOZVOLU-->
    <div *ngIf="currentUser.role != 1 && currentUser.role != 2">
        <div class="alert alert-danger" role="alert">
            <h1>!YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE!</h1>
        </div>
        <img class="centerSTOPimg" src="\assets\img\STOP.png" alt="">
    </div>
</div>

<div *ngIf='this.authenticationService.currentUserValue'>
    <div class="container" *ngIf="currentUser.role === 1 || currentUser.role === 2">
        <div class="alert alert-danger" role="alert" *ngIf="error">
            <b>{{errorText}}</b>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="success">
            <b>{{successText}} created!</b>
        </div>
        
        <div class="container" width="30px" >
            <app-plane-seats (click)="getActivatedSeat()"></app-plane-seats>
        </div>

    </div>
</div>