<div class="bg-img">
    <div class="container">
        <img 
             class="profilePicture"
             alt="your image"
             id="profileImg"
             [src] = "source">
        <form>
            <div class="form-group">
                <label for="firstName">First name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\person-icon.png" 
                             height="37" 
                             width="37" >
                    </div>
                    <input  type="text" 
                            class="form-control" 
                            id="firstName" 
                            placeholder="name" 
                            aria-label="name" 
                            required >
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="firstNameBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                onclick="document.getElementById('firstName').value = ''">
                            <svg class="bi bi-backspace" 
                                 width="1em" 
                                 height="1em" 
                                 viewBox="0 0 16 16" 
                                 fill="currentColor" 
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\person-icon.png" 
                             height="37"
                             width="37">
                    </div>
                    <input  type="text" 
                            class="form-control" 
                            id="lastName" 
                            placeholder="surname" 
                            aria-label="name">
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="lastNameBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                onclick="document.getElementById('lastName').value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\email-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="email" 
                            class="form-control" 
                            id="email" 
                            aria-describedby="emailHelp"
                            placeholder="email" 
                            aria-label="email">
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="emailBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                onclick="document.getElementById('email').value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <small id="emailHelp" 
                        class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\password-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="password" 
                            class="form-control" 
                            id="password"
                            placeholder="password" 
                            aria-label="password" 
                            aria-describedby="passwordHelp"
                            onmousedown="this.type='text'"
                            onmouseup="this.type='password'"
                            onmousemove="this.type='password'">
                    <div class="input-group-append">
                        <span toggle="#password" 
                              class="fa fa-fw fa-eye field-icon">
                        </span>
                    </div>
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="passwordBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                onclick="document.getElementById('password').value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <small id="exampleInputPassword1" 
                       class="text-muted">Must be 8-20 characters long.
                </small>
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Password repeat</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\repeat-password-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="password" 
                            class="form-control" 
                            id="passwordRepeat"
                            placeholder="password" 
                            aria-label="password" 
                            aria-describedby="passwordHelp"
                            onmousedown="this.type='text'"
                            onmouseup="this.type='password'"
                            onmousemove="this.type='password'">
                    <div class="input-group-prepend">
                        <button type="button" 
                                onclick="document.getElementById('passwordRepeat').value = ''" 
                                id="passwordRepeatBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <small id="exampleInputPassword1" 
                        class="text-muted">Must be 8-20 characters long.
                </small>
            </div>
            <div class="form-group">
                <label for="customFile">Profile image</label>
                <div class="input-group ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="btn btn-primary float-left" id="btnImage">
                        <label style="position: absolute;">{{ imgName }}</label>
                        <input type="file" 
                               name="profileImg"
                               id="customFile"
                               accept="image/*"
                               (change)="readURL($event)">
                    </div>
                    <div class="input-group-prepend">
                            <button type="button" 
                                id="deleteImg" 
                                (click)="deleteProfileImage()"
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label for="collapseBtnAdr">Address</label>
                <div class="input-group-prepend">
                    <img src="\assets\img\home-location-icon.png" 
                         height="37" 
                         width="37">
                    <button class="btn btn-outline-secondary btn-block" 
                            type="button" 
                            data-toggle="collapse" 
                            id="collapseBtnAdr"
                            data-target="#collapseAddress" 
                            aria-expanded="false" 
                            aria-controls="collapseExample">
                            Full address
                        <svg class="bi bi-chevron-contract" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.646 13.854a.5.5 0 00.708 0L8 10.207l3.646 3.647a.5.5 0 00.708-.708l-4-4a.5.5 0 00-.708 0l-4 4a.5.5 0 000 .708zm0-11.708a.5.5 0 01.708 0L8 5.793l3.646-3.647a.5.5 0 01.708.708l-4 4a.5.5 0 01-.708 0l-4-4a.5.5 0 010-.708z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
                <div class="collapse " 
                     id="collapseAddress">
                    <div class="card card-body addressBg">
                        <label for="street">Street and number</label>
                        <div class="input-group mb-3" >
                            <div class="input-group-prepend">
                                <img src="\assets\img\street-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <input type="text" 
                                   id="street" 
                                   class="form-control">
                            <div class="input-group-prepend">
                                <button type="button"
                                        onclick="document.getElementById('street').value = ''" 
                                        id="passwordRepeatBackspaceButton" 
                                        class="btn btn-outline-secondary" 
                                        value="Reset">
                                    <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                                    </svg>
                                </button> 
                            </div>
                        </div>
                        <label for="city">City</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <img src="\assets\img\city-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <input type="text" 
                                   id="city" 
                                   class="form-control">
                            <div class="input-group-prepend">
                                <button type="button" 
                                        onclick="document.getElementById('city').value = ''" 
                                        id="passwordRepeatBackspaceButton" 
                                        class="btn btn-outline-secondary" 
                                        value="Reset">
                                    <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                                    </svg>
                                </button> 
                            </div>
                        </div>
                        <label for="country">Country</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <img src="\assets\img\flag-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle btn-block" 
                                        type="button" 
                                        data-toggle="dropdown">Select country
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <li><a href="#">Serbia</a></li>
                                <li><a href="#">UK</a></li>
                                <li><a href="#">SAD</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\fix-telephone-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="tel" 
                            class="form-control" 
                            id="phoneNumber"
                            placeholder="number" 
                            aria-label="phoneNumber" >
                    <div class="input-group-prepend">
                        <button type="button" 
                                onclick="document.getElementById('phoneNumber').value = ''" 
                                id="phoneNumberBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" 
                       class="form-check-input" 
                       id="rememberMe">
                <label class="form-check-label" 
                       for="rememberMe">Remember me</label>
            </div>
            <button type="submit" 
                    class="btn btn-primary" 
                    routerLink="/log-in">Log in</button>
            <button type="submit" 
                    class="btn btn-primary" 
                    style="float: right;"
                    (click)=signIn()>Sign in
            </button>
        </form>

        <br/>
        <div class="kw-dvp-HorizonalButton">
            <span>or</span>
        </div>
        <br/>
        <div class="text-center">
            <label >Sign in with</label>
        </div>
        <div class="row">
            <div class="col-md-6">
              <a class="btn btn-outline-secondary" 
                 id="customBtn" 
                 href="/users/googleauth" 
                 role="button" >
                 <img width="40" 
                     alt="Google sign-in" 
                     src="/assets/img/g-logo.png" />Google
              </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-secondary" 
                    id="customBtn"  
                    role="button"
                    style="float:right">
                    <img width="40"  
                         alt="Facebook sign-in" 
                         src="/assets/img/f-logo.png"/>Facebook
                </a>
            </div>
        </div>
        
    </div>
</div>
