@media (min-width: 768px) { 
    .container{
        width: 500px;
    }
}
.profilePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}
.bg-img {
  background: url("../../../assets/img/2.jpg");
  min-height: 500px;
  background-attachment: fixed; 
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: rgb(8, 8, 8); 
  background-color: rgba(255, 255, 255, 0.788); 
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 2px solid #f1f1f1; 
  top: 55px;
  padding: 16px;
}
.kw-dvp-HorizonalButton {
  color: #0078d7;
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
}
.kw-dvp-HorizonalButton:before, .kw-dvp-HorizonalButton:after {
  background-color: #0078d7;
  content: "";
  display: inline-block;
  height:1px;
}
.kw-dvp-HorizonalButton:before {
  order:1;
  flex-grow:1;
  margin-right:8px;
}
.kw-dvp-HorizonalButton:after {
  order: 3;
  flex-grow: 1;
  margin-left: 8px;
}
.kw-dvp-HorizonalButton * {
  order: 2;
}
#customBtn {
  display: inline-block;
  margin-bottom:3px; 
  margin-right:5px;
  border-radius: 20px;
  text-transform:none;
  
}
#customBtn:hover {
  cursor: pointer;
}
.addressBg{
  background: url("../../../assets/img/pinning.jpg");
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#btnImage{
  cursor: auto;
  width: 346px ;
  min-width: 260px;
}
#customFile{
  cursor: pointer;
  opacity: 0; 
  position: relative; 
  width: 330px; 
  height: "document.getElementById('btnImage').getBoundingClientRect().height";
}