<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Sign in</h5>
          <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark " id="basic-addon1">
                        <img class="peopleLogo"/>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">F</span>
                </div>
                <input type="text" class="form-control" placeholder="First name" aria-label="firstName" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">L</span>
                </div>
                <input type="text" class="form-control" placeholder="Last name" aria-label="lastName" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">**</span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">**</span>
                </div>
                <input type="password" class="form-control" placeholder="Password repeat" aria-label="passwordRepeat" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-primary" id="basic-addon1">A</span>
                </div>
                <input type="text" class="form-control" placeholder="Address" aria-label="address" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-outline-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark btn-outline-primary">Sign in</button>
        </div>
      </div>
    </div>
  </div>