<div class="bg-img">
    <div class="container kartica">
        <img 
             class="profilePicture"
             alt="your image"
             id="profileImg"
             [src] = "source"
             
             
             >
        <form [formGroup]="registerService.formModel" 
              (ngSubmit)="OnSubmit()">
            <div class="form-group">
                <label for="firstName">First name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\person-icon.png" 
                             height="37" 
                             width="37" >
                    </div>
                    <input  type="text" 
                            class="form-control" 
                            formControlName="firstName"
                            id="firstName" 
                            #firstName
                            placeholder="name" 
                            aria-label="name"
                            >
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="firstNameBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                (click) = "firstName.value = ''">
                            <svg class="bi bi-backspace" 
                                 width="1em" 
                                 style="z-index: 0;"
                                 height="1em" 
                                 viewBox="0 0 16 16" 
                                 fill="currentColor" 
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                    
                </div>
                <div *ngIf="registerService.formModel.controls.firstName.touched && registerService.formModel.controls.firstName.invalid"
                     class="alert alert-danger"><!--|| onclick="document.getElementById('firstName').value = ''" -->
                    <div *ngIf="registerService.formModel.controls.firstName.errors.required">Please enter first name.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\person-icon.png" 
                             height="37"
                             width="37">
                    </div>
                    <input  type="text" 
                            class="form-control" 
                            id="lastName" 
                            #lastName
                            formControlName="lastName"
                            placeholder="surname" 
                            aria-label="name">
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="lastNameBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                (click) = "lastName.value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.lastName.touched && registerService.formModel.controls.lastName.invalid"
                     class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.lastName.errors.required">Please enter last name.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\email-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="email" 
                            class="form-control" 
                            id="email" 
                            #email
                            formControlName="email"
                            aria-describedby="emailHelp"
                            placeholder="email" 
                            aria-label="email">
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="emailBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                onclick="document.getElementById('email').value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.email.touched && registerService.formModel.controls.email.invalid" class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.email.errors.required">Please enter email.</div>
                    <div *ngIf="registerService.formModel.controls.email.errors.email">Please, enter valid email address.</div>
                </div>
                <small id="emailHelp" 
                        class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\password-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="password" 
                            class="form-control" 
                            id="password"
                            formControlName="password"
                            #password
                            placeholder="password" 
                            aria-label="password" 
                            aria-describedby="passwordHelp"
                            onmousedown="this.type='text'"
                            onmouseup="this.type='password'"
                            onmousemove="this.type='password'">
                    <div class="input-group-append">
                        <span toggle="#password" 
                              class="fa fa-fw fa-eye field-icon">
                        </span>
                    </div>
                    <div class="input-group-prepend">
                        <button type="button" 
                                id="passwordBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                (click) = "password.value = ''">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.password.touched && registerService.formModel.controls.password.invalid" class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.password.errors.required">Please enter password.</div>
                    <div *ngIf="registerService.formModel.controls.password.errors.minlength">Password should be 3 character.</div>
                </div>
                <small id="exampleInputPassword1" 
                       class="text-muted">Must be 8-20 characters long.
                </small>
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Password repeat</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\repeat-password-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="password" 
                            class="form-control" 
                            id="passwordRepeat"
                            #passwordRepeat
                            formControlName="passwordRepeat"
                            placeholder="password" 
                            aria-label="password" 
                            aria-describedby="passwordHelp"
                            onmousedown="this.type='text'"
                            onmouseup="this.type='password'"
                            onmousemove="this.type='password'"
                            >
                    <div class="input-group-prepend">
                        <button type="button" 
                                (click)="passwordRepeat.value=''"
                                id="passwordRepeatBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.passwordRepeat.touched && registerService.formModel.controls.passwordRepeat.invalid" class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.passwordRepeat.errors.required">Please enter password repeat.</div>
                    <div *ngIf="registerService.formModel.controls.passwordRepeat.errors.minlength">Password should be 3 character.</div>
                    <div *ngIf="registerService.formModel.controls.passwordRepeat.errors.mustMatch">Passwords are different.</div>
                </div>
                <small id="exampleInputPassword1" 
                        class="text-muted">Must be 8-20 characters long.
                </small>
            </div>
            <div class="form-group">
                <label for="customFile">Profile image</label>
                <div class="input-group ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="btn btn-primary float-left" id="btnImage">
                        <label style="position: absolute;">{{ imgString }}</label>
                        <input type="file" 
                               name="profileImage"
                               #profileImage
                               id="profileImage"
                               formControlName="profileImage"
                               accept="image/*"
                               (change)="readURL($event)"
                               >
                               <!--  -->
                    </div>
                    <div class="input-group-prepend">
                            <button type="button" 
                                id="deleteImg" 
                                (click)="deleteProfileImage()"
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>

            

            <div class="form-group ">
                <label for="collapseBtnAdr">Address</label>
                <div class="input-group-prepend">
                    <img src="\assets\img\home-location-icon.png" 
                         height="37" 
                         width="37">
                    <button class="btn btn-outline-secondary btn-block" 
                            type="button" 
                            data-toggle="collapse" 
                            id="collapseBtnAdr"
                            data-target="#collapseAddress" 
                            aria-expanded="false" 
                            aria-controls="collapseExample">
                            Full address
                        <svg class="bi bi-chevron-contract" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.646 13.854a.5.5 0 00.708 0L8 10.207l3.646 3.647a.5.5 0 00.708-.708l-4-4a.5.5 0 00-.708 0l-4 4a.5.5 0 000 .708zm0-11.708a.5.5 0 01.708 0L8 5.793l3.646-3.647a.5.5 0 01.708.708l-4 4a.5.5 0 01-.708 0l-4-4a.5.5 0 010-.708z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
                <div class="collapse " 
                     id="collapseAddress">
                    <div class="card card-body addressBg">
                        <label for="street">Street and number</label>
                        <div class="input-group mb-3" >
                            <div class="input-group-prepend">
                                <img src="\assets\img\street-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <input type="text" 
                                   id="streetAndNumber" 
                                   #streetAndNumber 
                                   formControlName="streetAndNumber"
                                   class="form-control">
                            <div class="input-group-prepend">
                                <button type="button"
                                        (click) = "streetAndNumber.value = ''"
                                        
                                        class="btn btn-outline-secondary" 
                                        value="Reset">
                                    <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                                    </svg>
                                </button> 
                            </div>
                        </div>
                        <div *ngIf="registerService.formModel.controls.streetAndNumber.touched && registerService.formModel.controls.streetAndNumber.invalid" class="alert alert-danger">
                            <div *ngIf="registerService.formModel.controls.streetAndNumber.errors.required">Please enter your home address.</div>
                        </div>
                        <label for="city">City</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <img src="\assets\img\city-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <input type="text" 
                                   id="city" 
                                   #city 
                                   formControlName="city"
                                   class="form-control">
                            <div class="input-group-prepend">
                                <button type="button" 
                                        (click) = "city.value = ''"
                                        
                                        class="btn btn-outline-secondary" 
                                        value="Reset">
                                    <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                                    </svg>
                                </button> 
                            </div>
                        </div>
                        <div *ngIf="registerService.formModel.controls.city.touched && registerService.formModel.controls.city.invalid" class="alert alert-danger">
                            <div *ngIf="registerService.formModel.controls.city.errors.required">Please enter your city.</div>
                        </div>
                        <label for="country">Country</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <img src="\assets\img\flag-icon.png" 
                                     height="37" 
                                     width="37">
                            </div>
                            <div class="dropdown">
                                <select id="country" 
                                        name="country" 
                                        #country 
                                        class="form-control" 
                                        formControlName="country">
                                    <option value="Afganistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Bonaire">Bonaire</option>
                                    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                    <option value="Brunei">Brunei</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Burkina Faso">Burkina Faso</option>
                                    <option value="Burundi">Burundi</option>
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Canary Islands">Canary Islands</option>
                                    <option value="Cape Verde">Cape Verde</option>
                                    <option value="Cayman Islands">Cayman Islands</option>
                                    <option value="Central African Republic">Central African Republic</option>
                                    <option value="Chad">Chad</option>
                                    <option value="Channel Islands">Channel Islands</option>
                                    <option value="Chile">Chile</option>
                                    <option value="China">China</option>
                                    <option value="Christmas Island">Christmas Island</option>
                                    <option value="Cocos Island">Cocos Island</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Comoros">Comoros</option>
                                    <option value="Congo">Congo</option>
                                    <option value="Cook Islands">Cook Islands</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                    <option value="Cote DIvoire">Cote DIvoire</option>
                                    <option value="Croatia">Croatia</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Curaco">Curacao</option>
                                    <option value="Cyprus">Cyprus</option>
                                    <option value="Czech Republic">Czech Republic</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Djibouti">Djibouti</option>
                                    <option value="Dominica">Dominica</option>
                                    <option value="Dominican Republic">Dominican Republic</option>
                                    <option value="East Timor">East Timor</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Egypt">Egypt</option>
                                    <option value="El Salvador">El Salvador</option>
                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                    <option value="Eritrea">Eritrea</option>
                                    <option value="Estonia">Estonia</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Falkland Islands">Falkland Islands</option>
                                    <option value="Faroe Islands">Faroe Islands</option>
                                    <option value="Fiji">Fiji</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="French Guiana">French Guiana</option>
                                    <option value="French Polynesia">French Polynesia</option>
                                    <option value="French Southern Ter">French Southern Ter</option>
                                    <option value="Gabon">Gabon</option>
                                    <option value="Gambia">Gambia</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <option value="Gibraltar">Gibraltar</option>
                                    <option value="Great Britain">Great Britain</option>
                                    <option value="Greece">Greece</option>
                                    <option value="Greenland">Greenland</option>
                                    <option value="Grenada">Grenada</option>
                                    <option value="Guadeloupe">Guadeloupe</option>
                                    <option value="Guam">Guam</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Guinea">Guinea</option>
                                    <option value="Guyana">Guyana</option>
                                    <option value="Haiti">Haiti</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Hong Kong">Hong Kong</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="India">India</option>
                                    <option value="Iran">Iran</option>
                                    <option value="Iraq">Iraq</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Isle of Man">Isle of Man</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Jordan">Jordan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="Kenya">Kenya</option>
                                    <option value="Kiribati">Kiribati</option>
                                    <option value="Korea North">Korea North</option>
                                    <option value="Korea Sout">Korea South</option>
                                    <option value="Kuwait">Kuwait</option>
                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                    <option value="Laos">Laos</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="Lesotho">Lesotho</option>
                                    <option value="Liberia">Liberia</option>
                                    <option value="Libya">Libya</option>
                                    <option value="Liechtenstein">Liechtenstein</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Macau">Macau</option>
                                    <option value="Macedonia">Macedonia</option>
                                    <option value="Madagascar">Madagascar</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Malawi">Malawi</option>
                                    <option value="Maldives">Maldives</option>
                                    <option value="Mali">Mali</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Marshall Islands">Marshall Islands</option>
                                    <option value="Martinique">Martinique</option>
                                    <option value="Mauritania">Mauritania</option>
                                    <option value="Mauritius">Mauritius</option>
                                    <option value="Mayotte">Mayotte</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Midway Islands">Midway Islands</option>
                                    <option value="Moldova">Moldova</option>
                                    <option value="Monaco">Monaco</option>
                                    <option value="Mongolia">Mongolia</option>
                                    <option value="Montserrat">Montserrat</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Mozambique">Mozambique</option>
                                    <option value="Myanmar">Myanmar</option>
                                    <option value="Nambia">Nambia</option>
                                    <option value="Nauru">Nauru</option>
                                    <option value="Nepal">Nepal</option>
                                    <option value="Netherland Antilles">Netherland Antilles</option>
                                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                    <option value="Nevis">Nevis</option>
                                    <option value="New Caledonia">New Caledonia</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="Niue">Niue</option>
                                    <option value="Norfolk Island">Norfolk Island</option>
                                    <option value="Norway">Norway</option>
                                    <option value="Oman">Oman</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Palau Island">Palau Island</option>
                                    <option value="Palestine">Palestine</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Phillipines">Philippines</option>
                                    <option value="Pitcairn Island">Pitcairn Island</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Qatar">Qatar</option>
                                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                                    <option value="Republic of Serbia" selected>Republic of Serbia</option>
                                    <option value="Reunion">Reunion</option>
                                    <option value="Romania">Romania</option>
                                    <option value="Russia">Russia</option>
                                    <option value="Rwanda">Rwanda</option>
                                    <option value="St Barthelemy">St Barthelemy</option>
                                    <option value="St Eustatius">St Eustatius</option>
                                    <option value="St Helena">St Helena</option>
                                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                    <option value="St Lucia">St Lucia</option>
                                    <option value="St Maarten">St Maarten</option>
                                    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                    <option value="Saipan">Saipan</option>
                                    <option value="Samoa">Samoa</option>
                                    <option value="Samoa American">Samoa American</option>
                                    <option value="San Marino">San Marino</option>
                                    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                    <option value="Senegal">Senegal</option>
                                    <option value="Seychelles">Seychelles</option>
                                    <option value="Sierra Leone">Sierra Leone</option>
                                    <option value="Singapore">Singapore</option>
                                    <option value="Slovakia">Slovakia</option>
                                    <option value="Slovenia">Slovenia</option>
                                    <option value="Solomon Islands">Solomon Islands</option>
                                    <option value="Somalia">Somalia</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Sri Lanka">Sri Lanka</option>
                                    <option value="Sudan">Sudan</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="Swaziland">Swaziland</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syria">Syria</option>
                                    <option value="Tahiti">Tahiti</option>
                                    <option value="Taiwan">Taiwan</option>
                                    <option value="Tajikistan">Tajikistan</option>
                                    <option value="Tanzania">Tanzania</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Togo">Togo</option>
                                    <option value="Tokelau">Tokelau</option>
                                    <option value="Tonga">Tonga</option>
                                    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                    <option value="Tunisia">Tunisia</option>
                                    <option value="Turkey">Turkey</option>
                                    <option value="Turkmenistan">Turkmenistan</option>
                                    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                    <option value="Tuvalu">Tuvalu</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="United Arab Erimates">United Arab Emirates</option>
                                    <option value="United States of America">United States of America</option>
                                    <option value="Uraguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Vanuatu">Vanuatu</option>
                                    <option value="Vatican City State">Vatican City State</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Vietnam">Vietnam</option>
                                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                    <option value="Wake Island">Wake Island</option>
                                    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                    <option value="Yemen">Yemen</option>
                                    <option value="Zaire">Zaire</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\fix-telephone-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="tel" 
                            class="form-control" 
                            id="phoneNumber"
                            #phoneNumber
                            formControlName="phoneNumber"
                            placeholder="number" 
                            aria-label="phoneNumber" >
                    <div class="input-group-prepend">
                        <button type="button" 
                                (click) = "phoneNumber.value = ''"
                                id="phoneNumberBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.phoneNumber.touched && registerService.formModel.controls.phoneNumber.invalid" class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.phoneNumber.errors.required">Please enter phone number.</div>
                    <div *ngIf="registerService.formModel.controls.phoneNumber.errors.pattern && 
                                !registerService.formModel.controls.phoneNumber.errors.minlength">Please enter valid phone number.
                    </div>
                    <div *ngIf="registerService.formModel.controls.phoneNumber.errors.pattern && 
                                registerService.formModel.controls.phoneNumber.errors.minlength">Please enter valid phone number.
                    </div>
                    <div *ngIf="!registerService.formModel.controls.phoneNumber.errors.pattern && 
                                registerService.formModel.controls.phoneNumber.errors.minlength">Phone number should eight or more number.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="passportNumber">Passport number</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <img src="\assets\img\passport-icon.png" 
                             height="37" 
                             width="37">
                    </div>
                    <input  type="tel" 
                            class="form-control" 
                            id="passportNumber"
                            #passportNumber
                            formControlName="passportNumber"
                            placeholder="number" 
                            aria-label="passportNumber" >
                    <div class="input-group-prepend">
                        <button type="button" 
                                (click) = "passportNumber.value = ''"
                                id="passportNumberBackspaceButton" 
                                class="btn btn-outline-secondary" 
                                value="Reset">
                            <svg class="bi bi-backspace" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L1 8l4.844-5.65A1 1 0 016.603 2zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L.241 8.65a1 1 0 010-1.302L5.084 1.7A2 2 0 016.603 1h7.08z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z" clip-rule="evenodd"/>
                            </svg>
                        </button> 
                    </div>
                </div>
                <div *ngIf="registerService.formModel.controls.passportNumber.touched && 
                            registerService.formModel.controls.passportNumber.invalid" class="alert alert-danger">
                    <div *ngIf="registerService.formModel.controls.passportNumber.errors.pattern && 
                                (!registerService.formModel.controls.passportNumber.errors.minlength || 
                                !registerService.formModel.controls.passportNumber.errors.maxlength)">Please enter valid phone number.
                    </div>
                    <div *ngIf="!registerService.formModel.controls.passportNumber.errors.pattern && 
                                (registerService.formModel.controls.passportNumber.errors.minlength ||
                                registerService.formModel.controls.passportNumber.errors.maxlength)">Passport number must nine number.
                    </div>
                </div>
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" 
                       class="form-check-input" 
                       id="rememberMe">
                <label class="form-check-label" 
                       for="rememberMe">Remember me</label>
            </div>
            <button type="submit" 
                    class="btn btn-primary" 
                    routerLink="/log-in">Log in</button>
            <button type="submit" 
                    class="btn btn-primary" 
                    style="float: right;"
                    [disabled]="!registerService.formModel.valid"
                    >Registration 
            </button>
        </form>

        <br/>
        <div class="kw-dvp-HorizonalButton">
            <span>or</span>
        </div>
        <br/>
        <div class="text-center">
            <label >Registration  with</label>
        </div>
        <div class="row" style="padding: 20px;">
            <div class="col-md-6">
              <a class="btn btn-outline-secondary" 
                 id="customBtn" 
                 style="float: left;" 
                 role="button" 
                 (click) = "GoogleRegistration()">
                 <img width="40" 
                     alt="Google sign-in" 
                     src="/assets/img/g-logo.png" />Google
              </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-secondary" 
                    id="customBtn"  
                    role="button"
                    (click) = "FacebookRegistration()"
                    style="float: right;">
                    <img width="40"  
                         alt="Facebook sign-in" 
                         src="/assets/img/f-logo.png"/>Facebook
                </a>
            </div>
        </div>
        
    </div>
</div>
